/*
  Credit to codepen user "jerrylow" for making a pure css rain animation
  Here is the link to it: https://codepen.io/jerrylow/pen/KaPvNa

  I edited it to suit my style more and have it rain upwards
*/

.rain-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -2;
}

.rain {
  position: absolute;
  width: 1px;
  height: 60px;
  background: white;
  background: linear-gradient(
    to top,
    var(--background-start) 0%,
    rgba(226, 88, 34, 0.3) 100%
  );
  will-change: transform, opacity;
}

@keyframes rain {
  0% {
    transform: translateY(0) scaleY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh) scaleY(1);
    opacity: 0;
  }
}

@for $i from 1 through 100 {
  $top: (random(50) + 50) * 1%;
  $left: random(100) * 1%;
  $opacity: (random(30) + 30) * 0.01;
  $delay: random(2) - 1.5s * $i;

  .rain:nth-of-type(#{$i}) {
    animation-name: rain-#{$i};
    animation-delay: $delay;
    animation-duration: random(2);
    animation-iteration-count: infinite;
    left: $left;
    opacity: $opacity;
    top: 100%;

    @keyframes rain-#{$i} {
      from {
        opacity: 1;
        top: 100%;
      }
      to {
        opacity: 0;
        top: -$top;
      }
    }
  }
}
