@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ffffff;

  --background-start: #1a0b0b;
  --background-start-tp: #1a0b0bb3;
  --background-middle: #330e0e;
  --background-end: #290909;

  --primary: #e25822;
}

.gradient-bg {
  background: linear-gradient(
    to top,
    var(--background-start) 0%,
    var(--background-end) 100%
  );
}

.section {
  position: relative;
  overflow: hidden;
  color: var(--foreground);
}

.section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
}

.section-1::before {
  background: linear-gradient(
    to bottom,
    var(--background-start) 0%,
    var(--background-end) 100%
  );
}

.section-2::before,
.section-3::before {
  background: radial-gradient(
    circle at center,
    var(--background-middle) 0%,
    var(--background-end) 40%
  );
  background-size: 100% 200%;
}

.section-2::before {
  background-position: top center;
}

.section-3::before {
  background-position: bottom center;
}

.section-4::before {
  background: linear-gradient(
    to top,
    var(--background-start) 0%,
    var(--background-end) 100%
  );
}
