@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  I can't decide which theme to use yet, so
  these will stay here for now
*/

/* Green theme */
/* :root {
  --foreground: #ffffff;

  --background-start: #151e13;
  --background-middle: #384e34;
  --background-end: #2b3c28;

  --primary-color: #a4f198;
} */

/* Phoenix theme */
:root {
  --foreground: #ffffff;

  --background-start: #1a0b0b;
  --background-middle: #330e0e;
  --background-end: #290909;

  --primary-color: #e25822;
}

/* Sea theme */
/* :root {
  --foreground: #ffffff;

  --background-start: #002b36;
  --background-middle: #00796b;
  --background-end: #004d40;

  --primary-color: #00bfa5;
} */

.section {
  position: relative;
  overflow: hidden;
  color: var(--foreground);
}

.section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
}

.section-1::before {
  background: linear-gradient(
    to bottom,
    var(--background-start) 0%,
    var(--background-end) 100%
  );
}

.section-2::before,
.section-3::before {
  background: radial-gradient(
    circle at center,
    var(--background-middle) 0%,
    var(--background-end) 40%
  );
  background-size: 100% 200%;
}

.section-2::before {
  background-position: top center;
}

.section-3::before {
  background-position: bottom center;
}

.section-4::before {
  background: linear-gradient(
    to top,
    var(--background-start) 0%,
    var(--background-end) 100%
  );
}

.intro-circle {
  z-index: -1;
  position: absolute;
  pointer-events: none;
  width: 311px;
  height: 311px;
  border: 3px solid var(--primary-color);
  border-radius: 50%;
  box-sizing: border-box;
  opacity: 33%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
